{% extends 'layout.html' %} {% block content %}
<img src="/static/images/music.png" height="36" width="36" alt="Logo">
<div class="formwrapper">
    <h1 class="title">{{ title }}</h1>
    <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
        <div class="form-field">{{ form.user_name.label }} {{ form.user_name }}
            {% if form.user_name.errors or user_name_error_message is not none %}
                {% if user_name_error_message is not none %}
                        {{ user_name_error_message }}
                {% endif %}
                <ul class="errors">
                    {% for error in form.user_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-field">{{ form.password.label }} {{ form.password }}
            {% if form.password.errors or password_error_message is not none %}
                {% if password_error_message is not none %}
                        {{ password_error_message }}
                {% endif %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}