{% extends 'layout.html' %} 

{% block content %}

{% include 'search.html' %}
<div class="container">

    <p class="mt-2 mb-3 text-center text-muted">Showing results {{cursor+1}} - {{cursor+leng}} out of {{total_leng}}</p>

    {% include 'page_btns.html' %}

    <table class="table table-hover align-middle mb-2 mt-2 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genres</th>
            <!--<th>Actions</th>-->
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="fw-bold mb-1 d-inline-block text-truncate" style="max-width: 10rem;">{{track['id']}}. {{track['title']}}</p>
                        <p class="text-muted mb-0">{{track['duration']}} seconds </p>
                    </div>
                </div>
                </td>
                <td>
                    <p class="d-inline-block text-truncate" style="max-width: 7rem;">{{track['artist']}}</p>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <strong><p class="fw-bold mb-1 d-inline-block text-truncate" style="max-width: 11rem;">{{track['album'].title}}</p></strong>
                            <strong><p class="text-muted mb-0">Released in {{track['album'].release_year}}</p></strong>
                        </div>
                    </div>
                </td>
                <td class="" style="min-width: 10rem; max-width: 10rem;">
                {% for genre in track['genres'] %}
                    <span class="badge badge-danger">{{genre.name}}</span>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% include 'page_btns.html' %}

</div>
{% endblock %}