<div class="bg-dark bottom">
    <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-white">&copy; Harlean Hansra and Parin Kasabia </p>

        <a href="https://github.com/UoA-CS-Sindhwani-CS235-S2-2022/cs235_2022_assignment-pkas830_hhan941" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <i class="fa-brands fa-github fa-2x"></i>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{{ url_for('home_bp.home') }}" class="nav-item px-2 primary_text">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('tracks_bp.search') }}" class="nav-item px-2 primary_text">Track List</a></li>
            <li class="nav-item"><a href="{{ url_for('review_bp.review_board') }}" class="nav-item px-2 primary_text">Reviews</a></li> 
            <li class="nav-item"><a href="{{ url_for('user_bp.public_playlists') }}" class="nav-item px-2 primary_text">Playlists</a></li>                     
        </ul>
    </footer>
    </div>
</div>