{% extends 'layout.html' %} {% block content %}
<div class="container mt-5 w-75">
    <div class="card bg-dark text-light">
        <div class="container h-100 py-2">
            <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                <li class="nav-item">
                    {% if user and playlist in user.playlist %}
                    <a class="nav-link active border border-danger border-bottom-0" href="{{ url_for('user_bp.playlists') }}"><i class="fa-solid fa-arrow-left"></i> Go back</a>
                    {% else %}
                    <a class="nav-link active border border-danger border-bottom-0" href="{{ url_for('user_bp.public_playlists') }}"><i class="fa-solid fa-arrow-left"></i> Go back</a>
                    {% endif %}
                </li>
            </ul>
        
            <div class="tab-content h-75">
                <div class="tab-pane h-100 p-3 active border border-danger">
                    <h1 class="heading_text m-2 profile-icon"><i class="fa-solid fa-headphones"></i></h1>
                    <h1 class="title heading_text mb-2">{{playlist.title}}</h1>
                    {% if leng == 0 %} <p class="text-center text-danger">There are currently no tracks in {{playlist.title}}!</p> {% endif %}
                    <hr style="border-top: 1px solid white;"> 
                    {%for track in playlist.tracks %}
                        <a href="{{ url_for('info_bp.track', track_id=track.track_id) }}" style="float:left;"><strong class="text-danger row ml-2">{{track.title}} by {{track.artist.full_name}}</strong>
                        <strong class="text-white row ml-2">{{track.track_duration}} seconds</strong></a>
                        {% if user and playlist.user == user.user_name%}
                        <div style="float: right;">
                            <form action="{{ url_for('info_bp.remove_playlist', playlist_id=playlist.list_id, track_id=track.track_id) }}" method="post">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></span>
                            </form>
                        </div>
                        {%endif%}
                        
                        <br>
                        <br>
                        <hr style="border-top: 1px solid white;"> 
                    {% endfor %}
                    <div class="text-center col">
                        {% if user and playlist.user == user.user_name%}
                        <form action="{{ url_for('user_bp.changevisibility', playlist_id=playlist.list_id) }}" method="post">
                            <button type="submit" class="btn btn-danger"><i class="{{ 'fa-solid fa-eye' if playlist.is_public else 'fa-solid fa-eye-slash' }}"></i>
                            {{' public' if playlist.is_public else ' private'}}</button></span>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}