<form action="{{ url_for('tracks_bp.search') }}">
    <div class="container w-75">
      <div class="input-group mb-3 md-form form-sm form-2 pl-0">
        <div class="input-group-prepend">
          {{ form.type(class='selectpicker show-tick form-control', id="inputGroupSelect01", **{'data-style':'btn-danger'}) }}
        </div>
          {{form.query(class="form-control my-0 py-1 amber-border", for="inputGroupSelect02", placeholder="Search", **{'aria-label':"Search"})}}
          <div class="input-group-append">
            {{form.submit(class="btn btn-primary")}}
          </div>
        </div>
    </div>
</form>

  