<form action="">
    <div class="container w-75">
      <div class="input-group mb-3 md-form form-sm form-2 pl-0">
        <div class="input-group-prepend">
          <select class="selectpicker" data-style="btn-outline-danger" id="inputGroupSelect01">
            <option selected>Tracks</option>
            <option value="1">Artists</option>
            <option value="2">Genres</option>
            <option value="3">Albums</option>
          </select>
        </div>
          <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search" for="inputGroupSelect02">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>
</form>

  