{% extends 'layout.html' %} {% block content %}
<div class="container mt-5 w-75">
    <div class="card bg-dark text-light">
        <div class="container h-100 py-2">
            <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link  border border-danger border-bottom-0" href="{{url_for('user_bp.profile')}}">Liked tracks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border border-danger border-bottom-0" href="{{ url_for('user_bp.playlists') }}">Playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active border border-danger border-bottom-0" href="#">Review</a>
                </li>
            </ul>
        
            <div class="tab-content h-75">
                <div class="tab-pane h-100 p-3 active border border-danger">
                    <h1 class="heading_text m-2 profile-icon"><i class="fa-solid fa-comment-dots"></i></h1>
                    {% include 'page_btns.html' %}
                    <h1 class="title heading_text mb-2">My Reviews</h1>
                    {% if leng == 0 %} <hr style="border-top: 1px solid white;"> <p class="text-center text-danger">You currently have made no reviews!</p> {% endif %}
                    <hr style="border-top: 1px solid white;"> 
                    <div class="mt-2">
                        {%for review in reviews %}
                            <strong class="text-danger" style="float: left;">You said on {{review.timestamp.strftime("%d %B, %Y")}}</strong>  
                            <strong class="text-white" style="float: right;"><a class="link_text" href="{{ url_for('info_bp.track', track_id=review.track.track_id) }}">{{review.track.title}}</a></strong>  
                            <br>
                            <p>{{review.review_text}}</p>
                            <span class="text-danger">Rating: </span>{%for rating in range(review.rating) %} <i class="fa-solid fa-star text-danger"></i>{% endfor %}
                            <hr style="border-top: 1px solid white;"> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
{% endblock %}